* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember", sans-serif;
}


body {
    background-color: white;
}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-titulo h1 {
    font-weight: 300;
}

.contenedor {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

/* ESTILOS FORMULARIO */
.contenedor .div-formulario {
    width: 30%;
    height: 60%;
    margin: 15px 15px;
    background-color: rgb(36, 63, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario form input {
    width: 60%;
    font-size: medium;
    border-radius: 10px;
    border-color: transparent;
    outline: transparent;
    padding: 10px 10px;
    margin: 10px 10px;
}

.contenedor .div-formulario form button {
    width: 60%;
    font-size: medium;
    border-radius: 10px;
    border-color: transparent;
    font-weight: 600;
    outline: transparent;
    cursor: pointer;
    padding: 10px 10px;
    margin: 10px 10px;
}

.contenedor .div-formulario form button:hover {
    width: 60%;
    border-radius: 10px;
    background-color: slategrey;
    color: #fff;
    padding: 10px 10px;
    margin: 10px 10px;
}

/* ESTILOS LISTADO */
.contenedor .div-listado {
    width: 55%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    background-color: rgb(36, 63, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.contenedor .div-listado h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.contenedor .div-listado .div-empleados {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

.contenedor .div-listado .div-empleados p {
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

hr {
    width: 100%;
    height: 1px;
}          

.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 10px;
}

.btn-editar {
    background-color: #38ad09;
    cursor: pointer;
}

.btn-editar:hover {
    background-color: #27700a;
}

.btn-eliminar {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.btn-eliminar:hover {
    background-color: rgb(170, 0, 0);
    cursor: pointer;
}